In [4]:
import pandas as pd ## library : module : no library name

In [24]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/refs/heads/main/Dataset/3.%20housing_data.csv')

In [28]:
df.head()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",2018-08-27,2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000

In [40]:
df[::7].head(n= 5)

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
7,"Clark County, KY",2019-07-01,2019-09-22,145.0,119.0,130.0,50.8,152850.0,11.700912
14,"Hanover County, VA",2021-11-08,2022-01-30,400.0,122.0,148.0,67.5,464357.2,4.961007
21,"Menifee County, KY",2019-12-16,2020-03-08,13.0,30.0,31.0,133.2,95816.6,16.777778
28,"Lonoke County, AR",2021-07-12,2021-10-03,417.0,239.0,276.0,30.5,198904.1,8.175049

In [50]:
# import pyspark

In [44]:
df[::8].tail()

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
622304,"Litchfield County, CT",2022-03-07,2022-05-29,676.0,583.0,650.0,37.0,358868.7,11.662392
622312,"Blount County, TN",2018-05-28,2018-08-19,596.0,645.0,688.0,61.4,234049.9,14.475231
622320,"Madison Parish, LA",2020-04-06,2020-06-28,NaN,1.0,1.0,204.5,156000.0,NaN
622328,"Tyler County, TX",2018-09-24,2018-12-16,NaN,1.0,1.0,302.5,130000.0,NaN
622336,"Custer County, OK",2020-02-24,2020-05-17,NaN,15.0,15.0,52.7,130120.8,NaN

In [46]:
df.dtypes ### object: str , varchar:

region_name                  object
period_begin                 object
period_end                   object
total_homes_sold            float64
inventory                   float64
active_listings             float64
age_of_inventory            float64
median_active_list_price    float64
months_of_supply            float64
dtype: object

In [52]:
df.shape

(622339, 9)

1. Display the top 5 rows of the dataset where the index is divisible by 7.

2. Check the last row where the index is divisible by 8 in the dataset.

3. Exercises

    a. Check Datatype of Each Column
    
    b. How many rows and columns are there in our Dataset?
4. Missing values
    - Which columns in the dataset contain missing values, and how many missing values are in each?
    - What is the percentage of missing values in each column?
    - Please remove the missing values.
    - After removing the rows with missing values, save the cleaned dataset as 'final_data.csv' for providing to stakeholders.

In [58]:
False+ True

1

In [64]:
df.shape[0]

622339

In [70]:
100* df.isnull().sum()/df.shape[0]

region_name                 0.000000
period_begin                0.000000
period_end                  0.000000
total_homes_sold            8.757285
inventory                   0.978888
active_listings             0.873158
age_of_inventory            0.978888
median_active_list_price    0.936146
months_of_supply            9.804946
dtype: float64

In [76]:
L1 = [1,2, 3, 4, 5]

In [80]:
L1*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [84]:
pd.Series(L1)*2

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [72]:
df['median_active_list_price'] ## series

0         136195.8
1              NaN
2         268737.6
3         115308.3
4         158062.5
            ...
622334     46650.0
622335     62500.0
622336    130120.8
622337    115268.7
622338    139979.1
Name: median_active_list_price, Length: 622339, dtype: float64

5. Display the top six highest values in the 'median_active_list_price' column.

6. Count the number of counties in California (CA) within the dataset. Save this county in a new sheet and export the corresponding data to an Excel file.

7. Determine the number of regions available for specific states such as Virginia (VA), Tennessee (TN), District of Columbia (DC), California (CA), etc. Use the state name as the sheet name and save the corresponding data to an Excel file.