In [23]:
import pandas as pd

In [25]:
df = pd.read_csv('/Users/macbook/Downloads/archive (1) 2/transactions_data.csv')

In [49]:
df['use_chip'] = df['use_chip'].replace({'Swipe Transaction':1})

In [43]:
df.dtypes

id                  int64
date               object
client_id           int64
card_id             int64
amount             object
use_chip           object
merchant_id         int64
merchant_city      object
merchant_state     object
zip               float64
mcc                 int64
errors             object
dtype: object

In [41]:
df.isnull().sum()

id                       0
date                     0
client_id                0
card_id                  0
amount                   0
use_chip                 0
merchant_id              0
merchant_city            0
merchant_state     1563700
zip                1652706
mcc                      0
errors            13094522
dtype: int64

In [39]:
df.describe()

,id,client_id,card_id,merchant_id,zip,mcc
count,1.330592e+07,1.330592e+07,1.330592e+07,1.330592e+07,1.165321e+07,1.330592e+07
mean,1.558402e+07,1.026812e+03,3.475268e+03,4.772376e+04,5.132782e+04,5.565440e+03
std,4.704499e+06,5.816386e+02,1.674356e+03,2.581534e+04,2.940423e+04,8.757002e+02
min,7.475327e+06,0.000000e+00,0.000000e+00,1.000000e+00,1.001000e+03,1.711000e+03
25%,1.150604e+07,5.190000e+02,2.413000e+03,2.588700e+04,2.860200e+04,5.300000e+03
50%,1.557087e+07,1.070000e+03,3.584000e+03,4.592600e+04,4.767000e+04,5.499000e+03
75%,1.965361e+07,1.531000e+03,4.901000e+03,6.757000e+04,7.790100e+04,5.812000e+03
max,2.376187e+07,1.998000e+03,6.144000e+03,1.003420e+05,9.992800e+04,9.402000e+03

In [33]:
df['merchant_id'].sum()

635008336371

In [19]:
x = 1

In [21]:
x

1

In [3]:
s1 = 'Hello world'
s1

'Hello world'

In [9]:
s2 = "Hello World"
s2

'Hello World'

In [13]:
S3 = """Hello world"""
S3

'Hello world'

In [15]:
S4 = '''Hello world'''

In [17]:
type(s1) # str: string

str

In [55]:
type('2')

str

In [57]:
"2"

'2'

In [61]:
str(2)

'2'

In [65]:
s1

'Hello world'

In [67]:
s1[0]

'H'

In [69]:
s1[1]

'e'

In [77]:
s1[2]

'l'

In [79]:
len(s1) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

11

In [81]:
s1

'Hello world'

In [83]:
s1[-1]

'd'

In [75]:
df[10000:10100]

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
10000,7487283,2010-01-04 06:14:00,1640,4967,$58.59,1,44873,Adrian,MI,49221.0,7230,NaN
10001,7487284,2010-01-04 06:15:00,798,5002,$40.94,1,10465,Murrieta,CA,92563.0,7922,NaN
10002,7487287,2010-01-04 06:16:00,511,4707,$2.80,1,61195,Tucson,AZ,85711.0,5541,NaN
10003,7487288,2010-01-04 06:16:00,1437,5818,$0.97,1,86438,Belfair,WA,98528.0,5499,NaN
10004,7487290,2010-01-04 06:16:00,1895,2119,$17.16,1,20519,Burlington,NJ,8016.0,5942,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10095,7487402,2010-01-04 06:45:00,61,2622,$108.75,1,11468,Middletown,NY,10940.0,5970,NaN
10096,7487403,2010-01-04 06:45:00,364,4623,$100.21,1,60569,Louisville,TN,37777.0,5300,NaN
10097,7487404,2010-01-04 06:45:00,702,3863,$16.74,1,20561,Huntington Station,NY,11746.0,5912,NaN
10098,7487405,2010-01-04 06:45:00,996,4661,$1.89,1,35451,Hollywood,FL,33024.0,5812,NaN
10099,7487406,2010-01-04 06:45:00,1100,5079,$23.44,1,30286,Levittown,NY,11756.0,4814,NaN

In [ ]:
1, 3, 5, 7, 9, 11, 13, 15, 

1, 2, 3, 4, 5, 6, 7, 8, 9